In [3]:
#Imports + API keys
import os
import requests
import json 
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
from pandas.tseries.offsets import DateOffset
from pandas import json_normalize
import time
from defillama import DefiLlama
llama = DefiLlama()
import datetime as dt

In [4]:
#Creting a TVL class that pulls the TVL data from defillama, calculates the changes in TVL from  1day, 2day, 3day, 1 week, 2 week, 1month, 2month, 3month and sorts values + writes to excel

class TVL:
    def __init__(self):
        self.url = "https://api.llama.fi/chains"
    
    def get_tvl(self):
        """Gathers all chain names tracked by the API, plugs them into 
            the api url and fetches the historical TVL data for all chains tracked. 
            rest of this is cleaning up the data to make sure the numbers match with the 
            amount of chains pulled
        """
        defi_chains = requests.get(self.url).json()
        self.chains=[]
        for i in range(len(defi_chains)):
            self.chains.append(defi_chains[i]['name'])

        self.chain_dict = {}
        for chain in self.chains:
            try:
                url = f"https://api.llama.fi/charts/{chain}"
                tvl= requests.get(url).json()
                self.chain_dict[chain] = tvl[-90:]
            except:
                self.chain_dict[chain] = tvl 
        
        delete_list= []
        for chain in self.chain_dict:
            if len(self.chain_dict[chain]) != 90:
                delete_list.append(chain)
        for item in delete_list:
            del self.chain_dict[item]
        
        for item in delete_list:
            self.chains.remove(item)
        
        for chain in self.chain_dict:
            if len(self.chain_dict[chain]) != 90:
                del self.chain_dict[chain]
    
    def calc_change(self):
        """Calculating the changes here now that we have the data in a dictionary.
            Also creating lists to store the data
        """
        self.three_month = []
        self.two_month = []
        self.one_month = []
        self.two_week = []
        self.one_week = []
        self.two_day = []
        self.one_day = []
        self.final_df = pd.DataFrame(columns=['name','1d','2d','7d','14d','1m','2m','3m'])
        df = pd.DataFrame(self.chain_dict)
        for chain in self.chain_dict:
            try:
                three_month_chg = (df[chain][89]['totalLiquidityUSD']/df[chain][0]['totalLiquidityUSD'])-1
                self.three_month.append(three_month_chg)
            except:
                ZeroDivisionError
                self.three_month.append(0)
            try:
                two_month_chg = (df[chain][89]['totalLiquidityUSD']/df[chain][29]['totalLiquidityUSD'])-1
                self.two_month.append(two_month_chg)
            except:
                ZeroDivisionError
                self.two_month.append(0)
            try:
                one_month_chg = (df[chain][89]['totalLiquidityUSD']/df[chain][58]['totalLiquidityUSD'])-1
                self.one_month.append(one_month_chg)
            except:
                ZeroDivisionError
                self.one_month.append(0)
            try:
                two_week_chg = (df[chain][89]['totalLiquidityUSD']/df[chain][75]['totalLiquidityUSD'])-1
                self.two_week.append(two_week_chg)
            except:
                ZeroDivisionError
                self.two_week.append(0)
            try:
                one_week_chg = (df[chain][89]['totalLiquidityUSD']/df[chain][82]['totalLiquidityUSD'])-1
                self.one_week.append(one_week_chg)
            except:
                ZeroDivisionError
                self.one_week.append(0)
            try:
                two_day_chg = (df[chain][89]['totalLiquidityUSD']/df[chain][87]['totalLiquidityUSD'])-1
                self.two_day.append(two_day_chg)
            except:
                ZeroDivisionError
                self.two_day.append(0)
            try:
                one_day_chg = (df[chain][89]['totalLiquidityUSD']/df[chain][88]['totalLiquidityUSD'])-1
                self.one_day.append(one_day_chg)
            except:
                ZeroDivisionError
                self.one_day.append(0)
    
    def create_df(self):
        "Create and return final DF"
        self.final_df['name'] = self.chains
        self.final_df['3m'] = self.three_month
        self.final_df['2m'] = self.two_month
        self.final_df['1m'] = self.one_month
        self.final_df['14d'] = self.two_week
        self.final_df['7d'] = self.one_week
        self.final_df['2d'] = self.two_day
        self.final_df['1d'] = self.one_day

        self.final_df = self.final_df.set_index('name')
        return self.final_df
    
    def sort_df(self):
        """Sort and print out all dataframes"""
        self.df1 = self.final_df['1d'].sort_values(ascending=False)
        self.df2 = self.final_df['2d'].sort_values(ascending=False)
        self.df7 = self.final_df['7d'].sort_values(ascending=False)
        self.df14 = self.final_df['14d'].sort_values(ascending=False)
        self.df1m = self.final_df['1m'].sort_values(ascending=False)
        self.df2m = self.final_df['2m'].sort_values(ascending=False)
        self.df3m = self.final_df['3m'].sort_values(ascending=False)

        print(self.df1)
        print("\n")
        print(self.df2)
        print("\n")
        print(self.df7)
        print("\n")
        print(self.df14)
        print("\n")
        print(self.df1m)
        print("\n")
        print(self.df2m)
        print("\n")
        print(self.df3m)

    def write_to_excel(self):
        """Write to an excel file so you can track over time"""
        today = dt.datetime.today().strftime("%m/%d/%Y")
        today = str(today)
        today = today.replace('/','-')
        with pd.ExcelWriter('chain_tvl_dashboard.xlsx', mode= 'a', engine='openpyxl', if_sheet_exists='new') as writer:
            self.df1.to_excel(writer, sheet_name= f'1 day change {today}')
            self.df2.to_excel(writer, sheet_name= f'2 day change {today}')
            self.df7.to_excel(writer, sheet_name= f'7 day change {today}')
            self.df14.to_excel(writer, sheet_name= f'14 day change {today}')
            self.df1m.to_excel(writer, sheet_name= f'1 month change {today}')
            self.df2m.to_excel(writer, sheet_name= f'2 month change {today}')
            self.df3m.to_excel(writer, sheet_name= f'3 month change {today}')
            self.final_df.to_excel(writer, sheet_name= f'Total Dataframe {today}')

In [5]:
#Create an instance and diplay the full dataframe

tvl = TVL()
tvl.get_tvl()
tvl.calc_change()
tvl.create_df()

,1d,2d,7d,14d,1m,2m,3m
name,,,,,,,
Ethereum,-0.020908,-0.054196,0.009843,0.003181,-0.024911,0.080388,0.053294
Avalanche,-0.031383,-0.070583,-0.085492,-0.054070,-0.132023,-0.134497,-0.224275
Polygon,-0.032241,-0.058451,-0.036210,-0.016760,-0.068537,-0.030559,-0.111829
Moonriver,-0.024102,-0.049719,-0.045549,-0.025655,-0.132612,-0.311914,-0.473301
Harmony,-0.039884,-0.088742,-0.093587,-0.141391,-0.189205,-0.152688,-0.414415
...,...,...,...,...,...,...,...
Stargaze,-0.042433,-0.056690,0.057404,0.021005,0.079227,0.524059,2.650297
Libre,-0.033826,-0.062486,-0.104680,-0.086245,-0.100807,0.053272,-0.139674
Umee,-0.002435,-0.020303,-0.048263,0.121674,0.186392,0.410275,1.340604
Bitindi,-0.109880,-0.166944,-0.041606,0.005302,-0.277542,0.544418,1.196554
WEMIX,-0.014814,-0.063902,-0.112649,-0.079843,0.004157,0.147394,0.140397

In [6]:
tvl.sort_df()

name
Stacks       0.247291
Energi       0.122738
Stride       0.046615
TomoChain    0.034649
CLV          0.017228
               ...
Syscoin     -0.117079
DefiChain   -0.135287
Flare       -0.229290
MUUCHAIN    -0.331418
Kekchain    -0.382137
Name: 1d, Length: 169, dtype: float64


name
Polis          0.404483
Stacks         0.196774
Songbird       0.113208
Energi         0.030471
Stride         0.008733
                 ...
Bitindi       -0.166944
EthereumPoW   -0.170587
Flare         -0.256670
MUUCHAIN      -0.257377
Kekchain      -0.391166
Name: 2d, Length: 169, dtype: float64


name
Omax           1.516436
Kardia         0.573218
Stacks         0.201007
Moonbeam       0.114206
TomoChain      0.105188
                 ...
EthereumPoW   -0.215988
Sifchain      -0.242975
Flare         -0.245318
Dexit         -0.260743
Energi        -0.276356
Name: 7d, Length: 169, dtype: float64


name
Hydra           2.763703
Omax            1.882119
Filecoin        0.973796
Kekchain        0.655203
Nova Network    0.643822
                  ...
Theta          -0.303736
Dexit          -0.355356
Flare          -0.387859
Wax            -0.390941
Energi         -0.482434
Name: 14d, Length: 169, dtype: float64


name
Hydra       2.554291
Filecoin    2.476363
Stellar     1.747987
Omax        1.577223
Secret      1.425012
              ...
Elastos    -0.548447
Energi     -0.636738
Dexit      -0.672597
Oasis      -0.773119
REI        -0.890348
Name: 1m, Length: 169, dtype: float64


name
Doge        7.258992
Starknet    4.633042
Filecoin    2.569123
Litecoin    2.522293
Kekchain    1.997605
              ...
Aurora     -0.670746
Oasis      -0.792830
REI        -0.892971
Dexit      -0.984883
Hoo        -1.000000
Name: 2m, Length: 169, dtype: float64


name
TON         17.496643
Starknet     6.767792
Doge         5.361759
Conflux      3.433619
Filecoin     3.178513
              ...
Oasis       -0.796879
Theta       -0.893145
REI         -0.905289
Dexit       -0.971707
Hoo         -1.000000
Name: 3m, Length: 169, dtype: float64

In [ ]:
tvl.write_to_excel()